.count, .block {
  display: flex;
  flex-direction: column;
}

.block {
  flex-direction: row;
}

.operand {
  margin: 0 10px;
}

#check {
  width: 100%;
  margin-top: 10px;
}

.response {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  color: #eee;
  left: 5px;
}